/**
 * CMP custom styles
 * 
 * @package grideditor
 * @copyright Alan Pich 2012
 */

 
 .grideditor-button-nostyle {
   border: none !important;
   background: none !important;
   box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   margin-left:-5px;
   margin-bottom:-20px;
   margin-top:-16px;
 }

 .grideditor-button-edit {
     float:left;
     margin-right: 6px;
     position:relative;
     top:-3px;
 }
 
 .grideditor-button-delete {
     float:left;
     opacity: 0.4;
     transition: opacity .3s;
     -webkit-transition: opacity .5s;
     -moz-transition: opacity: .5s;
     margin-top:-10px;
 }
 .grideditor-button-delete:hover {
     opacity: 1;
 }
 
 
 
 
 .grideditor-warnings-intro {
     padding:10px;
 }
 .grideditor-warnings-list {
     margin-top:10px;
 }
 
 .grideditor-warnings-list li {
     list-style:inside;
     vertical-align:top;
     border-bottom:1px solid #ccc;
     padding:.3em 10px;
 }
 
 .grideditor-warnings-list li:first-child {
     border-top:0px;
 }
 
 .grideditor-warnings-list li:nth-child(even){
     background-color:#f0f0ff;
 }
 
 
 
 .x-tool-grideditor-warning {background-image: url(../../../../../manager/templates/default/images/modx-theme/shared/warning.gif) }
 .x-tool-grideditor-help {background-image: url(../../../../../manager/templates/default/images/style/info.png) }
 .x-tool-grideditor-refresh {background-image: url(../img/icons/refresh_small.png) }
 .x-tool-grideditor-config {background-image: url(../img/icons/cog.png) }
 
 
 .grideditor-renderer-checkbox {
     text-align:center;
     margin:0;
     padding:0;
     position:relative;
     top:-2px;
    
 }
                   
 
 
 .grideditor-grid .x-panel-body .x-grid3-body table td {
     vertical-align:middle;
 }