/**
 * CMP custom styles
 * 
 * @package grideditor
 * @copyright Alan Pich 2012
 */

 
 .grideditor-button-publish {
   border: none !important;
   background: none !important;
   box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   margin-left:-5px;
   position: absolute;
   top: 50%;
   margin-top:-16px;
 }

 .grideditor-action-button {
     margin-right: 10px;
 }
 
 .grideditor-button-delete {
     opacity: 0.4;
     transition: opacity .3s;
     -webkit-transition: opacity .5s;
     -moz-transition: opacity: .5s;
 }
 .grideditor-button-delete:hover {
     opacity: 1;
 }
 
 
 

 .grideditor-renderer-checkbox {
     text-align:center;
     margin:0;
     padding:0;
     position:relative;
     top:-2px;
    
 }
                   
 
 
 .grideditor-grid .x-panel-body .x-grid3-body table td {
     vertical-align:middle;
 }



 .grid-action-btn {
     -moz-border-radius:3px;
     -webkit-border-radius:3px;
     -o-border-radius:3px;
     -ms-border-radius:3px;
     -khtml-border-radius:3px;
     border-radius:3px;
     background:#dcdcdc;
     background:-moz-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%) repeat scroll 0 0 transparent;
     background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#dcdcdc));
     background:-webkit-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
     background:-o-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
     background:-ms-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
     background:linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
     text-shadow:0 1px 0 #ffffff;
     border:1px solid #cccccc;
     color:#888888;
     display:inline-block;
     font-size:11px;
     font-weight:bold;
     font-family:helvetica, arial, freesans, clean, sans-serif;
     padding:3px 8px;
     margin-left:2px;
     text-decoration:none;
     cursor:pointer;
 }
.grid-action-btn:first-child {
    margin-left:0;
}


.grid-action-btn:hover {
     background:#e0e0e0;
     background:-moz-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%) repeat scroll 0 0 transparent;
     background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#e0e0e0));
     background:-webkit-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
     background:-o-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
     background:-ms-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#e0e0e0,GradientType=0);
     background:linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
     color:#5b7a98;
 }

 .grid-action-btn:active {
     -moz-box-shadow:0 0 3px #aaaaaa inset;
     -webkit-box-shadow:0 0 3px #aaaaaa inset;
     -o-box-shadow:0 0 3px #aaaaaa inset;
     box-shadow:0 0 3px #aaaaaa inset;
     background-color:#ffffff;
     background-image:none;
 }
